<table class="tableE">
  <caption><%= I18n.t("tog_banners.admin.zones.title") %></caption>
  <tbody>
  <tr>
      <th scope="row"><%= I18n.t("tog_banners.fields.zones.name") %></th>
      <td nowrap="nowrap"><%=f.text_field :name, :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_banners.fields.zones.width") %></th>
      <td nowrap="nowrap"><%=f.text_field :width, :class=>"fieldbox" %></td>
  </tr>     
  <tr>
      <th scope="row"><%= I18n.t("tog_banners.fields.zones.height") %></th>
      <td nowrap="nowrap"><%=f.text_field :height, :class=>"fieldbox" %></td>
  </tr>          
</tbody></table>